.th{
    background-color: #BB86FC;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}
.th-2{
    background-color: #424250;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}

.th-3{
    background-color: #424250;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}

.th-4{
    background-color: #00C4B4;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}

.th-5{
    background-color: #424250;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}

.th-6{
    background-color: #424250;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}